@media screen and (max-width: 1200px) and (min-width: 768px) {
    .home {
        flex-direction: column;
        justify-content: space-evenly;
        .home_img {
            margin: 3rem 2rem 3rem 3rem;
            img {
                max-width: 90%;
                max-height: 90%;
                border-radius: 20%;
                border: 2px solid $violeta;
                box-shadow: 5px 5px 6px 1px $violeta;
            }
        }
        .home_width {
            .home_width_content {
                color: $violeta;
                margin: 5rem 0 0 5rem;
                .home_width_content_text1 {
                    font-size: 1.7rem;
                }
                .home_width_content_text2 {
                    font-size: 3rem;
                    font-weight: 600;
                }
                .home_width_content_text3 {
                    font-size: 2rem;
                    margin: 0.5rem 0;
                    span {
                        color: $verde;
                        font-weight: 700;
                         font-family: 'Ubuntu', sans-serif;
                    }
                }
            }
        }
    }
    .about {
        height: 550px;
        background: $blanco;
        position: relative;
        .about_header {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            position: absolute;
            width: 100%;
            background: $blanco;
            padding-top: 4rem;
            .about_header_text {
                width: 40%;
                margin: 0 0 0 2rem;
                .fa-solid {
                    position: relative;
                    color: $violeta;
                    font-size: 15rem;
                    bottom: 15%;
                    left: 5%;
                    opacity: 55%;
                }
                h1 {
                    font-size: 2.6rem;
                    color: $violeta;
                    font-weight: 600;
                    text-transform: uppercase;
                    letter-spacing: 0.2rem;
                    z-index: 2;
                    margin: -8.3rem 0 0 4rem;
                }
                p {
                    margin: -0.5rem 0 0 0;
                    display: none;
                    &:nth-of-type(1) {
                        margin-top: 6.5rem;
                        display: block;
                    }
                }
                .close {
                    display: none;
                    background: $violeta;
                    color: $blanco;
                    font-size: 1rem;
                    font-weight: 400;
                    padding: 0.5rem 1rem;
                    margin-top: 1rem;
                    border-radius: 5%;
                    border: 2px solid $violeta;
                    transition: all 0.3s ease;
                    text-decoration: none;
                    cursor: pointer;
                    position: absolute;
                    bottom: -5%;
                    right: 50%;
                    
                    &:hover {
                        box-shadow: -2px 6px 10px 1px $violeta;
                        background: $blanco;
                        color: $violeta;
                    }
                }
            }
            .about_header_pics {
                width: 30%;
                margin: 13rem 1rem 1rem 2rem;
                img {
                    max-width: 100%;
                    height: auto;
                    border-radius: 40%;
                    border: 2px solid $blanco;
                    box-shadow: -2px 6px 10px 1px $violeta;
                    
                }
            }
        }
        .hide_text_button {
            display: block;
            background: $violeta;
            color: $blanco;
            font-size: 1rem;
            font-weight: 400;
            padding: 0.5rem 1rem;
            margin-top: 1rem;
            border-radius: 5%;
            border: 2px solid $violeta;
            transition: all 0.3s ease;
            text-decoration: none;
            cursor: pointer;
            position: absolute;
            bottom: 10%;
            right: 75%;
            
            &:hover {
                box-shadow: -2px 6px 10px 1px $violeta;
                background: $blanco;
                color: $violeta;
            }
        }
    }
    .projects {
        background: $blanco;
        .projects_container {
            .projects_container_title {
                font-size: 2.6rem;
                color: $violeta;
                text-align: center;
                margin-bottom: 3rem;
                padding-bottom: 1rem;
                padding-top: 5rem;
                position: relative;
                text-transform: uppercase;
                &:before {
                    content: "";
                    position: absolute;
                    width: 19rem;
                    height: 0.2rem;
                    background: $violeta;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }
                &:after {
                    content: "What I can give to you";
                    position: absolute;
                    width: 20%;
                    height: 2.5rem;
                    color: $verde;
                    font-size: 1rem;
                    font-weight: 400;
                    font-family: 'Ubuntu', sans-serif;
                    padding: 0.5rem;
                    bottom: -1rem;
                    left: 50%;
                    transform: translateX(-50%);
                    background: $blanco;
                    
                }
            }
            .projects_container_content {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                background: $violeta;
                height: 300px;
                padding: 2rem auto;
                .projects_container_content_card {
                    width: 100%;
                    padding-top: 3rem;
                    
                    .projects_container_content_card_box {
                        margin-right: 2rem;
                        margin-top: 0.5rem;
                        border: solid 5px $violeta;
                        border-radius: 10%;
                        padding: 1.6rem;
                        cursor: pointer;
                        transition: all 0.4s ease-in-out;
                        background: $blanco;
                        &:hover {
                            transform: scale(1.1);
                            box-shadow: 0px 0px 10px 3px  $blanco;
                        }
                        &:nth-of-type(1) {
                            margin-left: 4rem;
                        }
                        a {
                            text-decoration: none;
                            .fa-solid {
                                font-size: 0.8rem;
                                color: $violeta;
                                margin: 1rem 0 1.5rem 7rem;
                            }
                            .projects_container_content_card_box_text {
                                font-size: 1.5rem;
                                color: $violeta;
                                text-transform: uppercase;
                                font-family: 'Ubuntu', sans-serif;
                                text-align: center;
                            }
                            h3 {
                                font-size: 1rem;
                                color: $violeta;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
    .skills {
        background: $blanco;
        padding-top: 2rem;
        .skills_container {
            h2 {
                font-size: 3rem;
                color: $violeta;
                text-align: center;
                margin: 0 0 3rem 0;
                padding: 3rem 0 1rem 0;
                position: relative;
                text-transform: uppercase;
                &:before {
                    content: "";
                    position: absolute;
                    width: 19rem;
                    height: 0.2rem;
                    background: $violeta;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }
                &:after {
                    content: "What I know.";
                    position: absolute;
                    width: 20%;
                    height: 2.5rem;
                    color: $verde;
                    font-size: 1rem;
                    font-weight: 400;
                    font-family: 'Ubuntu', sans-serif;
                    padding: 0.5rem;
                    bottom: -1rem;
                    left: 50%;
                    transform: translateX(-50%);
                    background: $blanco;
                    
                }
            }
            .skills_container_content {
                display: flex;
                flex-direction: column;
                .skills_container_content_column1 {
                    width: calc(80% - 2rem);
                    margin: 0 0 0 4rem;
                    h3 {
                        font-size: 1.75rem;
                        font-weight: 500;
                        text-transform: uppercase;
                        margin-bottom: 0.7rem;
                        margin-top: 0.5rem;
                    }
                    p {
                        font-size: 1rem;
                    }
                    .button_certificates {
                        display: inline-block;
                        background: $violeta;
                        color: $blanco;
                        font-size: 1rem;
                        font-weight: 400;
                        padding: 0.5rem 1rem;
                        margin-top: 1rem;
                        margin-bottom: 1rem;
                        border-radius: 5%;
                        border: 2px solid $violeta;
                        transition: all 0.3s ease;
                        text-decoration: none;
                        cursor: pointer;
                        position: relative;
                        
                        &:hover {
                            box-shadow: -2px 6px 10px 1px $violeta;
                            background: $blanco;
                            color: $violeta;
                        }
                        
                    }
                }
                .skills_container_content_column2 {
                    width: calc(90% - 2rem);
                    margin: 0 1rem 0 2.5rem;
                    padding: 1.25rem;
                    border-radius: 5%;
                    .bars {
                        margin-bottom: 1rem;
                        .info {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            margin: 0 3rem 0.25rem 0;
                            span {
                                font-family: 'Ubuntu', sans-serif;
                            }
                        }
                        .line {
                            height: 0.45rem;
                            width: 85%;
                            position: relative;
                            background: $violeta;
                            &:before {
                                content: "";
                                position: absolute;
                                height: 100%;
                                left: 0;
                                top: 0;
                                background: $verde;
                            }
                        }
                        .html {
                            &:before {
                                width: 85%;
                            }
                        }
                        .css {
                            &:before {
                                width: 70%;
                            }
                        }
                        .scss {
                            &:before {
                                width: 70%;
                            }
                        }
                        .js {
                            &:before {
                                width: 65%;
                            }
                        }
                        .jquery {
                            &:before {
                                width: 65%;
                            }
                        }
                        .git {
                            &:before {
                                width: 55%;
                            }
                        }
                    }
                }
            }
        }
        .skills_certificates {
            display: flex;
            background: $blanco;
            flex-direction: column;
            padding: 5rem 3rem 2rem 3rem;
            display: none;
            position: absolute;
            height: 500px;
            img {
                width: 85%;
                height: auto;
                padding-left: 6rem;
            }
            .fa-solid {
                font-size: 1rem;
                background: $violeta;
                color: $blanco;
                padding: 0.5rem;
                padding-left: 0.7rem;
                cursor: pointer;
                display: block;
                width: 6%;
                position: relative;
                left: 95%;
                top: -10%;
                margin-bottom: 1rem;
                border-radius: 15%;
                border: 2px solid $violeta;
                &:hover {
                    color: $violeta;
                    box-shadow: -2px 6px 10px 1px $violeta;
                    background: $blanco;
                }
            }
        }
    }
    .contact {
        background:$blanco;
        padding: 2rem 0;
        .contact_container {
            background: $blanco;
            h2 {
                font-size: 3rem;
                color: $violeta;
                text-align: center;
                margin: 0 0 3rem 0;
                padding: 3rem 0 1rem 0;
                position: relative;
                text-transform: uppercase;
                &:before {
                    content: "";
                    position: absolute;
                    width: 19rem;
                    height: 0.2rem;
                    background: $violeta;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }
                &:after {
                    content: "How to reach me";
                    position: absolute;
                    width: 20%;
                    height: 2.5rem;
                    color: $verde;
                    font-size: 1rem;
                    font-weight: 400;
                    font-family: 'Ubuntu', sans-serif;
                    padding: 0.5rem;
                    bottom: -1rem;
                    left: 50%;
                    transform: translateX(-50%);
                    background: $blanco;
                    
                }
            }
            .contact_container_content {
                background: $blanco;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                margin-top: -3rem;
                .content_column1 {
                    width: calc(100% - 3rem);
                    padding: 2rem 4rem;
                    .content_column1_text {
                        font-size: 2rem;
                        text-transform: uppercase;
                        font-weight: 500;
                        margin: 2rem 0 1rem -1rem;
                    }
                    p {
                        text-align: justify;
                        margin-left: -1rem;
                    }
                    .icons {
                        margin: 1rem 0rem 1rem -1rem;
                        .icons_row {
                            display: flex;
                            height: 65px;
                            align-items: center;
                            margin: 1rem 0;
                            .fa-solid {
                                font-size: 1.3rem;
                                color: $violeta;
                            }
                            .icons_row_info {
                                margin-left: 2rem;
                                .head {
                                    font-weight: 600;
                                }
                                .sub {
                                    color: $violeta;
                                }
                            }
                        }
                    }
                }
                .content_column2 {
                    width: calc(100% - 3rem);
                    padding: 2rem 4rem;
                    .content_column2_text {
                        font-size: 2rem;
                        text-transform: uppercase;
                        font-weight: 500;
                        margin: -2rem 5rem 1rem 0;
                        width: 100%;
                        padding: 0 0.2rem;
                    }
                    .fields {
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: row;
                        .field {
                            height: 45px;
                            width: 100%;
                            margin-top: 1rem;
                            input {
                                height: 100%;
                                width: 100%;
                                border: solid 1px $verde;
                                border-radius: 5%;
                                outline: none;
                                padding: 0 0.5rem;
                                background: $blanco;
                                color: $violeta;
                                &:hover {
                                    background: $verde;
                                    color: $blanco;
                                    font-weight: 600;
                                }
                            }
                            textarea {
                                height: 100px;
                                width: 100%;
                                border: solid 1px $verde;
                                border-radius: 5%;
                                outline: none;
                                padding: 0 0.5rem;
                                background: $blanco;
                                color: $violeta;
                                &:hover {
                                    background: $verde;
                                    color: $blanco;
                                    font-weight: 600;
                                    border: solid 1px $verde;
                                }
                            }
                            .input {
                                background: $violeta;
                                color: $blanco;
                                box-shadow: -2px 6px 10px 1px $violeta;
                                border: solid 1px $violeta;
                                &:hover {
                                    box-shadow: -2px 6px 10px 1px $violeta;
                                    background: $blanco;
                                    color: $violeta;
                                }
                            }
                            button {
                                margin-top: 3.2rem;
                                margin-bottom: 1.5rem;
                                display: inline-block;
                                background: $violeta;
                                color: $blanco;
                                font-size: 1rem;
                                font-weight: 400;
                                padding: 0.5rem 1rem;
                                border-radius: 5%;
                                border: 2px solid $violeta;
                                transition: all 0.3s ease;
                                text-decoration: none;
                                cursor: pointer;
                                position: relative;
                                
                                &:hover {
                                    box-shadow: -2px 6px 10px 1px $violeta;
                                    background: $blanco;
                                    color: $violeta;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .navbar {
        background: $blanco;
        position: fixed;
        font-family: 'Ubuntu', sans-serif;
        height: 4.3rem;
        transition: all 0.5s ease;
        width: 100%;
        .container-fluid {
            display: flex;
            justify-content: space-between;
            .navbar-brand {
                font-size: 2rem;
                font-weight: 550;
                font-family: 'Ubuntu', sans-serif;
                margin: 0 0 0 6rem;
                letter-spacing: 0.125rem;
                color: $violeta;
                span {
                    color: $verde;
                    font-weight: 550;
                    font-size: 2rem;
                    font-family: 'Ubuntu', sans-serif;
                }
            }
            button {
                color: $violeta;
            }
            ul {
                li {
                    a {
                        color: $blanco !important;
                        font-family: 'Ubuntu', sans-serif;
                        margin-left: 1rem;
                        margin-bottom: 0.5rem;
                        border-radius: 15%;
                        background: $violeta;
                        width: 30%;
                        padding: 0.5rem;
                        &:hover {
                            color: $verde !important;
                        }
                    }
                }
            }
        }
    }
    
}
.scroll_up {
    position: fixed;
    height: 5%;
    background: $violeta;
    right: 2%;
    bottom: 5%;
    text-align: center;
    line-height: 45px;
    z-index:1010;
    font-size: 1.5rem;
    border-radius: 6%;
    color: $blanco;
    cursor: pointer;
    transition: all 0.3s ease;
}
