*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Inconsolata', monospace;
}

@import "variables";
@import "index";
@import "mobile";
@import "ipad";